<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" routerLink="/admin-page">
      <img src="https://customercentria.files.wordpress.com/2015/01/admin.png" width="200" height="60" class="d-inline-block align-top" >
      
    </a>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <button type="button" class="btn btn-secondary" routerLink="/products">Manage products</button>
      <button type="button" routerLink="/orders" class="btn btn-secondary">View orders</button>
      
    
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Employees
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" routerLink="/driver">Drivers</a>
          <a class="dropdown-item" routerLink="/supplier">Suppliers</a>
          <a class="dropdown-item" routerLink="/admin">Admins</a>
        </div>
      </div>
    </div>
  
  </nav>
<h2>Manage Suppliers</h2>
<form class="emp-form" #adminForm="ngForm" (ngSubmit)="OnSubmit(adminForm)">
  <div class="form-row">
      
          <input type="hidden" class="form-control" name="ID" ID="ngModel" [(ngModel)] ="EmployeeService.employee.ID" required>
        
    <div class="col-md-4 mb-3">
      <label>First name</label>
      <input type="text" class="form-control" name="firstname" #firstname="ngModel" [(ngModel)] ="EmployeeService.employee.firstname"  placeholder="First name" required>
    </div>
    <div class="col-md-4 mb-3">
      <label >Last name</label>
      <input type="text" class="form-control" name="lastname" #lastname="ngModel" [(ngModel)] ="EmployeeService.employee.lastname"   placeholder="Last name"  required>
    </div>
    <div class="col-md-4 mb-3">
      <label >Email</label>
      <div class="input-group">
        
        <input type="text" class="form-control" name="email" #email="ngModel"[(ngModel)] ="EmployeeService.employee.email"  placeholder="Email" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label>Password</label>
      <input type="password" class="form-control" name="password" #password="ngModel"[(ngModel)] ="EmployeeService.employee.password" placeholder="Password" required>
    </div>
    <div class="col-md-3 mb-3">
      <label >Phone</label>
      <input type="text" class="form-control" name="phone" #phone="ngModel"[(ngModel)] ="EmployeeService.employee.phone" placeholder="Phone" required>
    </div>
  </div>
  
  <button class="btn btn-primary" type="submit">Add/Update</button>
</form>

<table class="table table-bordered">
  <thead>
    <tr>
      
      <th scope="col">First name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Update/delete</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplier of EmployeeService.supplierlist">
      <td>{{supplier.firstname}}</td>
      <td>{{supplier.lastname}}</td>
      <td>{{supplier.email}}</td>
      <td>{{supplier.phone}}</td>
      <td>
        <a class="btn" (click)="showforEdit(supplier)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a  class="btn text-danger" (click)="onDelete(supplier.ID)">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>